{{<base}}
    {{$title}}Severell Framework{{/title}}
    {{$content}}
        <div class="relative bg-white overflow-hidden h-screen">
            <main class="mt-5 mx-auto max-w-screen-xl px-4 sm:mt-12 sm:px-6 md:mt-8 lg:mt-8 xl:mt-8">
                <div class="border-b border-gray-200 p-2">
                    <h2 class="text-4xl font-extrabold text-gray-900 sm:text-5xl sm:tracking-tight lg:text-6xl"><span style="color:#1190CB">Severell</span> Initialzr</h2>
                </div>
                <div class="mt-10  grid grid-cols-2 gap-4">
                    <div>
                        <div class="p-2">
                            <h3 class="text-lg font-extrabold text-gray-900 sm:text-lg sm:tracking-tight lg:text-lg">Project</h3>
                        </div>
                        <form>
                            <div class="sm:grid sm:grid-cols-3 sm:gap-4 sm:items-start p-5">
                                <label for="first_name" class="block text-md font-medium text-gray-900 sm:mt-px sm:pt-2">
                                    Group
                                </label>
                                <div class="mt-1 rounded-md shadow-sm col-span-2">
                                    <input id="email" name="email" type="email" required
                                           class="appearance-none block w-full px-3 py-2 border border-gray-300 rounded-md placeholder-gray-400 focus:outline-none focus:shadow-outline-blue focus:border-blue-300 transition duration-150 ease-in-out sm:text-sm sm:leading-5">
                                </div>
                            </div>
                            <div class="sm:grid sm:grid-cols-3 sm:gap-4 sm:items-start sm:border-t sm:border-gray-200 p-5">
                                <label for="first_name" class="block text-md font-medium text-gray-900 sm:mt-px sm:pt-2">
                                    Artifact
                                </label>
                                <div class="mt-1 rounded-md shadow-sm col-span-2">
                                    <input id="email" name="email" type="email" required
                                           class="appearance-none block w-full px-3 py-2 border border-gray-300 rounded-md placeholder-gray-400 focus:outline-none focus:shadow-outline-blue focus:border-blue-300 transition duration-150 ease-in-out sm:text-sm sm:leading-5">
                                </div>
                            </div>
                            <div class="sm:grid sm:grid-cols-3 sm:gap-4 sm:items-start sm:border-t sm:border-gray-200 p-5">
                                <label for="first_name" class="block text-md font-medium text-gray-900 sm:mt-px sm:pt-2">
                                    Name
                                </label>
                                <div class="mt-1 rounded-md shadow-sm col-span-2">
                                    <input id="email" name="email" type="email" required
                                           class="appearance-none block w-full px-3 py-2 border border-gray-300 rounded-md placeholder-gray-400 focus:outline-none focus:shadow-outline-blue focus:border-blue-300 transition duration-150 ease-in-out sm:text-sm sm:leading-5">
                                </div>
                            </div>
                            <div class="sm:grid sm:grid-cols-3 sm:gap-4 sm:items-start sm:border-t sm:border-gray-200 p-5">
                                <label for="first_name" class="block text-md font-medium text-gray-900 sm:mt-px sm:pt-2">
                                    Description
                                </label>
                                <div class="mt-1 rounded-md shadow-sm col-span-2">
                                    <input id="email" name="email" type="email" required
                                           class="appearance-none block w-full px-3 py-2 border border-gray-300 rounded-md placeholder-gray-400 focus:outline-none focus:shadow-outline-blue focus:border-blue-300 transition duration-150 ease-in-out sm:text-sm sm:leading-5">
                                </div>
                            </div>

                        </form>
                    </div>
                    <div>
                        <div class="p-2">
                            <h3 class="text-lg font-extrabold text-gray-900 sm:text-lg sm:tracking-tight lg:text-lg">Dependencies</h3>
                        </div>
                    </div>
                    <!-- ... -->
                </div>
            </main>
        </div>
    {{/content}}
{{/base}}